@keyframes spinner {
    0% {
        left: 0;
        right: 100%;
    }
    50% {
        left: 0;
        right: 0;
    }
    100% {
        left: 100%;
        right: 0;
    }
}

.spinnerWrapper {
    padding: var(--size-xl);

    .spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: var(--color-elevation-interactive);
        animation: calc(10 * var(--animation-duration-default)) ease-in-out both spinner;
        border-radius: var(--border-radius-default);
        animation-iteration-count: infinite;
    }
}
