@use "../../globals" as *;

.navButton {
  @extend .interactive;

  text-align: center;
  text-decoration: none;
  color: $color-typo;
  padding: size(1);
  box-shadow: none;
  border: none;

  .icon{
    font-size: size(1.5);
    line-height: size(1.5);
  }

  &.active {
    background-color: $color-elevated-double;
    border: none;
  }
}