@import "../../globals";

.navButton {
  padding: size(1.5);
  text-align: center;
  text-decoration: none;
  color: $color-elevated-typo-1;
  box-shadow: none;

  @extend .elevated;
  &.active {
    @extend .elevated-2;
    box-shadow: none;
  }
}