.floorPlan {
    display: grid;
    aspect-ratio: 4/3;
    grid-gap: var(--size-m);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.roomPlaceholder {
    border-radius: var(--border-radius-default);
    border: var(--size-xxs) solid var(--color-elevation-interactive);
    box-shadow: var(--shadow-default);
}

.roomButton {
    color: var(--color-text-base);
    text-decoration: none;
    font: inherit;
    font-size: var(--size-m);
    line-height: var(--size-m);
    font-weight: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-elevation-interactive);
    background-image: var(--gradient-interactive);
    border-radius: var(--border-radius-default);

    box-shadow: var(--shadow-default);

    .icon {
        font-size: var(--size-xl);
        line-height: var(--size-xl);
    }

    &:hover {
        background-color: var(--color-elevation-highlight);
        color: var(--color-text-highlight);

        box-shadow: var(--shadow-hover);
    }
}