button.imageButton {
    padding: 0;
    background-size: 100%;
    background-position: center;
    border: none;
    border-radius: var(--border-radius-default);

    @media (pointer: fine) {
        &:hover {
            > img {
                filter: brightness(125%) saturate(125%);
            }
        }
    }

    > img {
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
        width: 100%;
        border-radius: var(--border-radius-default);
    }

    > label {
        display: block;
        padding: var(--size-grid-space);
    }
}


button.imageButton {
    font-size: var(--size-m);
    line-height: var(--size-m);
    font-weight: normal;
}