button.imageButton {
    padding: 0;
    border: none;
    border-radius: var(--border-radius-default);
    overflow: hidden;
    position: relative;

    @media (pointer: fine) {
        &:hover {
            > img {
                filter: brightness(125%) saturate(125%);
            }
        }
    }

    > img {
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    > label {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: hsla(0, 0%, 25%, .75);
        background-image: var(--gradient-interactive);
        backdrop-filter: blur(vaR(--size-s));
        display: block;
        padding: var(--size-m);
    }
}


button.imageButton {
    font-size: var(--size-m);
    line-height: var(--size-m);
    font-weight: normal;
}