button.imageButton {
    padding: var(--size-m);
    aspect-ratio: 1;
    text-align: left;
    background-size: 100%;
    background-position: center;
    border: none;
    border-radius: var(--border-radius-default);

    &:hover {
        background-size: 110%;
        color: var(--color-text-highlight)

    }

    --color-imagebutton-bg: hsla(0, 0%, 0%, 80%);

    @media (prefers-color-scheme: light) {
        --color-imagebutton-bg: hsla(0, 0%, 100%, 80%);
    }

    > img {
        height: calc(3 * var(--size-m));
        border-radius: vaR(--border-radius-full);
    }
}


button.imageButton {
    font-size: var(--size-m);
    line-height: var(--size-m);
    font-weight: normal;
}