.buttonGroup {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: var(--size-xs);

    .button {
        flex-grow: 1;
        border-radius: 0;

        &:hover {
            background-color: var(--color-elevation-interactive);
            box-shadow: none;
            transform: none;
        }

        &:first-child {
            border-top-left-radius: var(--border-radius-default);
            border-bottom-left-radius: var(--border-radius-default);
        }

        &:last-child {
            border-top-right-radius: var(--border-radius-default);
            border-bottom-right-radius: var(--border-radius-default);
        }

        &.active {
            background-color: var(--color-elevation-highlight);
        }
    }
}