.buttonGroup {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: var(--size-xs);
    border-radius: var(--border-radius-full);
    overflow: hidden;

    .button {
        flex-grow: 1;
        border-radius: 0;

        &:hover {
            background-color: var(--color-elevation-interactive);
            box-shadow: none;
            transform: none;
        }

        &.active {
            background-color: var(--color-elevation-highlight);
        }
    }
}