button.button {
    border: none;
    border-radius: var(--border-radius-full);
    padding: var(--size-s) var(--size-l);
    background-color: var(--color-elevation-interactive);
    cursor: pointer;
    color: var(--color-text-base);

    &:hover {
        background-color: var(--color-elevation-highlight);
        box-shadow: var(--shadow-interactive);

    }
}