button.button {
    border: none;
    border-radius: var(--border-radius-full);
    padding: var(--size-s) var(--size-l);
    background-color: var(--color-elevation-interactive);
    cursor: pointer;
    color: var(--shadown-interactive);

    &:hover {
        background-color: var(--color-elevation-highlight);
    }
}