.keyValue {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-l);


    .iconWrapper {
        height: calc(2 * var(--size-xl));
        aspect-ratio: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color-text-base);
        color: var(--color-elevation-1);
        border-radius: var(--border-radius-default);

        > i {
            font-size: var(--size-xl);
            line-height: var(--size-xl);
        }
    }

    .text {
        .value {
            font-size: var(--size-xl);
            line-height: var(--size-xl);
            /*font-weight: 600;*/
        }
    }
}