.button {
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    position: relative;

    border: var(--size-xxs) solid transparent;
    border-radius: var(--border-radius-default);
    background-color: var(--color-elevation-surface);

    padding: var(--size-padding-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);
    min-width: calc(2 * var(--size-xxl));

    font-size: var(--size-m);
    line-height: 1;
    color: var(--color-contrast-1);
    transition: var(--transition-default);

    .image {
        height: var(--size-xxl);
        width: var(--size-xxl);
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));
    }

    &:has(.image) {
        justify-content: flex-start;
    }

    .icon {
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-elevation-hover);
            border-radius: var(--border-radius-hover);
            box-shadow: var(--box-shadow-hover);
            z-index: var(--z-index-hover);
            transform: var(--transform-hover);
        }
    }
    
    &.text {
        background-color: transparent;
    }

    &.active {
        background-color: var(--color-elevation-active);
        color: var(--color-elevation-surface);
    }

    &.huge {
        flex-direction: column;
        gap: var(--size-padding-default);

        .icon {
            font-size: var(--size-xxl);
            margin: 0 var(--size-xxl);
            line-height: 1;
        }

        .image {
            width: 100%;
            height: auto;
        }
    }
}