.button {
    appearance: none;
    margin: 0;
    border: 0;
    cursor: pointer;

    --button-height: var(--size-xxl);
    background-color: var(--color-elevation-surface);
    box-shadow: var(--shadow-default);

    border: var(--border-default);
    border-radius: 100vmax;
    padding: 0 var(--size-padding-default);
    min-height: var(--button-height);
    min-width: calc(2 * var(--button-height));

    line-height: var(--button-height);

    font-size: var(--size-m);
    color: var(--color-contrast-1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--size-m);


    .icon {
        font-size: var(--size-l);
    }

    &:empty {
        padding: 0;
    }

    transition: vaR(--transition-default);
    @media (hover: hover) {
        &:hover {
            filteR: var(--filter-hover);
        }
    }
}

.mainActionButton {
    appearance: none;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;

    background-color: vaR(--color-elevation-surface);
    border: var(--border-default);
    box-shadow: var(--shadow-default);

    --action-button-size: calc(4 * var(--size-xxl));
    border-radius: var(--border-radius-default);
    height: var(--action-button-size);
    width: var(--action-button-size);

    font-size: var(--size-m);
    color: var(--color-contrast-1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);

    &.active {
        background-color: var(--color-contrast-1);
        color: var(--color-elevation-surface);

        .icon {
            font-variation-settings: 'FILL' 1;
        }
    }

    .icon {
        font-size: var(--size-xxl);
    }

    transition: vaR(--transition-default);
    @media (hover: hover) {
        &:hover {
            filteR: var(--filter-hover);
        }
    }
}


.buttonGroup {
    > label {
        display: block;
        margin-bottom: var(--size-s);
    }

    > div {
        display: flex;
        flex-direction: row;
        gap: var(--size-padding-default);
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    &.fullWidth > div > * {
        flex-grow: 1;
    }

    &.connected > div {
        padding: var(--size-border-default);
        background-color: var(--color-elevation-border);
        overflow: hidden;
        border-radius: 100vmax;

        gap: var(--size-border-default);
        flex-wrap: nowrap;
        box-shadow: var(--shadow-default);

        > * {
            border: none;
            box-shadow: none;
        }

        > *:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        > *:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        > *:not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    }
}

.deviceLinkButton {
    background-color: var(--color-elevation-surface);
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    box-shadow: var(--shadow-default);
    padding: var(--size-padding-default);

    font-size: var(--size-m);
    line-height: 1;
    color: var(--color-contrast-1);
    text-decoration: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-s);

    > .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: var(--size-s)
    }

    .iconContainer {
        height: var(--size-xxxl);
        aspect-ratio: 1;
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));
        border: var(--border-default);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: var(--size-xxl);
        }
    }

    &.isActive {
        background-image: linear-gradient(to bottom, hsl(from var(--color-contrast-1) h s l / .25),hsl(from var(--color-contrast-1) h s l / .25));
        background-color: var(--color-contrast-1);
        color: var(--color-elevation-surface);
    }


}

