.buttonGroupWrapper {
    label {
        display: block;
        margin-bottom: var(--size-padding-default);
    }
}

.buttonGroup {
    display: flex;
    flex-direction: row;

    width: 100%;
    flex-wrap: nowrap;


    gap: var(--size-xxs);
    background-color: var(--color-shadow);
    box-shadow: var(--shadow-default);

    border-radius: var(--border-radius-default);
    overflow: hidden;

    > * {
        min-width: unset;
        flex-grow: 1;
        flex-basis: 0;

        border-radius: 0 !important;
        box-shadow: none;
    }

    > *:hover {
        border-radius: initial;
    }

}