.buttonGroupConnected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-xxs);

    > * {
        flex-grow: 1;
        flex-basis: 0;

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}


.baseButton {
    appearance: none;
    border: none;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: none;

    cursor: pointer;
    background-color: var(--color-interactive);
    padding: var(--size-m);
    border-radius: var(--border-radius-default);

    > * {
        cursor: inherit;
    }

    &:hover {
        background-color: var(--color-interactive-hover);
    }

    &.active {
        color: var(--color-bg);
        background-color: var(--color-active);
    }
}

.defaultButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-xs);
    /*border-radius: 100vmax;*/

    .defaultButtonIcon {
        font-size: var(--size-xl);
        line-height: var(--size-m);
    }

    &:has(.defaultButtonIcon):has(label) {
        justify-content: flex-start;
    }
}





