.button {
    appearance: none;
    margin: 0;
    border: 0;
    cursor: pointer;


    --button-height: var(--size-xxl);

    border-radius: 100vmax;
    line-height: var(--button-height);
    min-height: var(--button-height);
    min-width: var(--button-height);
    padding: 0 var(--size-m);

    font-size: var(--size-m);
    color: var(--color-contrast-1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--size-m);

    .icon {
        font-size: var(--size-l);
    }

    &:empty {
        padding: 0;
    }
}

.mainActionButton {
    appearance: none;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;

    --action-button-size: calc(4 * var(--size-xxl));
    border-radius: var(--border-radius-default);
    height: var(--action-button-size);
    width: var(--action-button-size);

    font-size: var(--size-m);
    color: var(--color-contrast-1);
    background-image: var(--gradient-fade);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);

    &.active {
        background-color: var(--color-contrast-1);
        color: var(--color-elevation-surface);
    }

    .icon {
        font-size: var(--size-xxl);
    }
}


.buttonGroup {
    > label {
        display: block;
        margin-bottom: var(--size-s);
    }

    > div {
        display: flex;
        flex-direction: row;
        gap: var(--size-s);
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    &.fullWidth > div > * {
        flex-grow: 1;
    }


    &.connected > div {
        padding: var(--size-xxs);
        background-color: var(--color-elevation-border);
        overflow: hidden;
        border-radius: 100vmax;

        gap: var(--size-xxs);
        flex-wrap: nowrap;
        box-shadow: var(--shadow-default);

        > * {
            border: none;
            box-shadow: none;
        }

        > *:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        > *:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        > *:not(:first-child):not(:last-child) {
            border-radius: 0;
        }

    }
}

