.buttonGroupWrapper {
    label {
        display: block;
        margin-bottom: var(--size-padding-default);
    }
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    gap: var(--size-padding-default);
    flex-wrap: wrap;
    width: fit-content;

    &.fullWidth {
        width: 100%;
        flex-wrap: nowrap;
        > * {
            min-width: unset;
            flex-grow: 1;
            flex-basis: 0;
        }
    }

    &.connected {
        gap: var(--size-xxs);
        background-color: var(--color-border);

        border-radius: var(--border-radius-default);
        overflow: hidden;

        > * {
            border-radius: 0;
            border: none;
        }
    }
}