.button {
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;

    border: var(--size-xxs) solid transparent;
    border-radius: var(--border-radius-default);

    background-color: var(--color-elevation-surface);

    padding: var(--size-padding-default);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);

    font-size: var(--size-m);
    line-height: 1;
    color: var(--color-contrast-1);
    transition: var(--transition-default);

    .image {
        height: var(--size-xxl);
        width: var(--size-xxl);
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));
    }

    &:has(.image) {
        justify-content: flex-start;
    }

    .icon {
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-elevation-hover);
            border-radius: var(--size-m);
        }
    }

    &.outline {
        background-color: transparent;
        border-color: var(--color-contrast-0);

        @media (hover:hover) {
            &:hover {
                border-color: var(--color-contrast-1);
            }
        }
    }

    &.text {
        background-color: transparent;
    }

    &.huge {
        flex-direction: column;
        gap: var(--size-padding-default);

        .icon {
            font-size: var(--size-xxl);
            line-height: 1;
        }

        .image {
            width: 100%;
            height: auto;
        }
    }

}