.buttonGroupConnected {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-xxs);
    box-shadow: var(--shadow-default);
    border-radius: var(--border-radius-default);

    > button {
        flex-grow: 1;
        flex-basis: 0;
        box-shadow: none;

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}


.baseButton {
    appearance: none;
    border: none;
    margin: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: none;

    cursor: pointer;
    background-color: var(--color-interactive);
    background-image: linear-gradient(to bottom, hsl(0 0% 100% /.1), hsl(0 0% 0% / .25));
    padding: var(--size-m);
    font-size: var(--size-m);
    overflow: hidden;
    box-shadow: var(--shadow-default);

    border-radius: var(--border-radius-default);

    > * {
        cursor: inherit;
    }

    transition: vaR(--transition-default);

    &:hover {
        background-color: var(--color-interactive-hover);
    }

    &.active {
        color: var(--color-bg);
        background-color: var(--color-active);
    }
}

.defaultButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-xs);
    /*border-radius: 100vmax;*/

    .defaultButtonIcon {
        font-size: var(--size-xl);
        line-height: var(--size-m);
    }

    &:has(.defaultButtonIcon):has(label) {
        justify-content: flex-start;
    }
}

.imageButton {
    aspect-ratio: 1;
    background-position: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    align-items: stretch;
    justify-content: flex-end;

    --image-bg: none;
    background-image: var(--image-bg);


    @media (hover: hover) {
        &:hover {
            background-size: 110%;
        }
    }

    label {
        color: #fff;
        padding: vaR(--size-padding-default);
        padding-top: var(--size-xxl);
        /*font-size: var(--size-m);*/
        background-image: linear-gradient(to bottom, transparent, hsl(0 0% 0% / .5));
        display: block;
    }
}





