.layout {
    --cols-count: 42;
    --cols-count-small: 42;

    display: grid;
    grid-template-columns: repeat(var(--cols-count-small), 1fr);
    gap: var(--size-m);

    @media (min-width: 50rem) {
        grid-template-columns: repeat(var(--cols-count), 1fr);
    }
}