.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-m);

    &.many {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 50rem) {
        grid-template-columns: repeat(3, 1fr);
        &.many {
            grid-template-columns: repeat(6, 1fr);
        }

    }
}