button.imageButton {
    padding: var(--size-m);
    aspect-ratio: 3;
    text-align: left;
    background-size: 100%;
    background-position: center;
    border: none;
    border-radius: var(--border-radius-default);

    &:hover {
        background-size: 110%;
    }
}


button.imageButton {
    font-size: var(--size-m);
    line-height: var(--size-m);
    font-weight: normal;
}