@use "../../../globals" as *;

.multiButtonGroup {
  border-radius: $border-radius-full;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: $size-xs;

  .button {
    flex-grow: 1;
    border-radius: 0;
    box-shadow: none;
  }
}