.listLayout {
    display: flex;
    flex-direction: column;
    gap: var(--size-padding-default);
}

.horizontalCenterLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-padding-default);
}
