.listLayout {
    display: flex;
    flex-direction: column;
    gap: var(--size-padding-default);
}

.horizontalCenterLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-padding-default);
}


.gridLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-auto-flow: row;
    grid-gap: vaR(--size-padding-default);
}

@media screen and (max-width: 40rem) {
    .gridLayout {
        grid-template-columns: repeat(2, 1fr);
    }
}
