.heroIcon {
    padding-top: var(--size-xxl);
    font-size: calc(var(--size-m) * 7.5)
}

.lightHeroContainer {
    --light-accent-color: hotpink;
    > * {
        color: var(--light-accent-color);
    }
}