nav.appNavigation {
    border-top: var(--size-xxs) solid var(--color-elevation-surface);
    padding: var(--size-padding-default);
}

button.navButton {
    flex-grow: 1;
    font-size: var(--size-l);
}