nav.appNavigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--size-padding-default);
    border-top: var(--border-default);


    .navLink {
        height: var(--size-xxl);

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 100vmax;
        padding: var(--size-padding-default) 0;

        text-decoration: none;
        color: var(--color-contrast-1);

        .icon {
            font-size: var(--size-xl);
        }

        &.backLink {

        }

        &.navLinkActive {
            background-color: var(--color-contrast-1);
            color: var(--color-elevation-surface);
        }
    }


}