nav.appNavigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-elevation-half);
    padding: var(--size-padding-default);
    backdrop-filter: blur(var(--size-m));
    gap: var(--size-padding-default);
}