nav.appNavigation {
    --link-padding-x: var(--size-m);

    display: flex;
    flex-direction: column;
    gap: var(--size-xl);

    padding: var(--size-padding-large) calc(var(--size-padding-large) - var(--link-padding-x));
    margin: var(--size-padding-large);
    margin-right: 0;
    border: var(--border-default);
    border-radius: var(--border-radius-default);

    flex-shrink: 0;
    background-color: var(--color-elevation-bg);

    overflow: auto;


    h1, h2, h3 {
        padding: 0 var(--size-m);
        margin-bottom: var(--size-s);
    }


    .deviceListSection {
        margin-top: var(--size-m);
    }

    .spacer {
        flex-grow: 1;
    }

    .navLink {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding: var(--size-s) vaR(--link-padding-x);
        border-radius: var(--border-radius-default);
        background-color: var(--color-elevation-bg);

        text-decoration: none;
        color: var(--color-contrast-1) !important;
        gap: var(--size-s);
        transition: var(--transition-default);

        .icon {
            font-size: var(--size-l);
        }

        @media (hover: hover) {
            &:not(.navLinkActive):hover {
                background-color: var(--color-elevation-surface);
            }
        }


        &.navLinkActive {
            background-color: var(--color-contrast-1);
            background-image: var(--gradient-fade);
            * {
                color: var(--color-elevation-bg);
            }
            .icon {
                font-variation-settings: 'FILL' 1;
            }
        }
    }

    .mobileCloseSection {
        text-align: center;
        display: none;

        input[type=checkbox] {
            display: none;
        }

        .menuIcon {
            font-size: var(--size-xl);
        }
    }
}


@media (max-width: 50rem) {
    nav.appNavigation {
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        margin: 0;
        border-radius: 0 var(--border-radius-default) var(--border-radius-default) 0;
        border-left: none;
        box-shadow: var(--shadow-default);
        transition: none;

        z-index: 1;
        animation: slide-from-left-mobile ease-out var(--duration-default) both;

        .mobileCloseSection {
            display: unset;
        }


        &:not(:has(input[type=checkbox]:checked)) {
            top: unset;
            padding: var(--size-padding-default);
            border-radius: 0 vaR(--border-radius-default) 0 0;
            border-left: 0;
            border-bottom: 0;
            animation-name: none;

            > *:not(.mobileCloseSection) {
                display: none;
            }
        }
    }
}

@keyframes slide-from-left-mobile {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: none;
    }
}
