nav.appNavigation {
    position: fixed;
    bottom: var(--size-padding-default);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--size-padding-default);
    z-index: 9999;

    .container {
        padding: var(--size-s);
        background-color: var(--color-elevation-surface);
        border-radius: 100vmax;
        border: var(--border-default);
        box-shadow: var(--shadow-default);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: vaR(--size-padding-default);

        .navLink {
            height: var(--size-xxl);
            aspect-ratio: 3;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border-radius: 100vmax;
            padding: var(--size-padding-default) 0;

            text-decoration: none;
            color: var(--color-contrast-1);

            .icon {
                font-size: var(--size-xl);
            }

            &.backLink {
                aspect-ratio: 1;
            }

            &.navLinkActive {
                background-color: var(--color-contrast-1);
                color: var(--color-elevation-surface);
            }
        }
    }

}