nav.appNavigation {
    position: relative;
    z-index: var(--z-index-overlay);
    border-top: var(--size-xxs) solid var(--color-surface);
    padding: var(--size-padding-default);
}

button.navButton {
    flex-grow: 1;
    font-size: var(--size-l);

    &:hover {
        transform: none;
    }
}