nav.appNavigation {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--size-padding-default);
    border-top: var(--border-default);
    background-color: hsla(from vaR(--color-elevation-bg) h s l / .5);
    backdrop-filter: blur(var(--size-m));
    gap: var(--size-padding-default);


    .navLink {
        height: var(--size-xxl);

        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 100vmax;
        padding: var(--size-padding-default) 0;

        text-decoration: none;
        color: var(--color-contrast-1);

        .icon {
            font-size: var(--size-xl);
        }


        &.navLinkActive {
            background-color: var(--color-elevation-surface);
            background-image: var(--gradient-hightlight);
            border: var(--border-default);
            color: var(--color-contrast-1);
        }
    }


}