@use "../../../globals" as *;

.deviceButton {
  display: flex;
  flex-direction: column;
  gap: $size-xs;

  .icon {
    font-size: $size-l;
  }

  &.on {
    background-color: $color-typo;
    color: color-elevation(1)
  }
}