.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: var(--size-padding-default);
    padding-bottom: 0;
    background-color: hsl(0 0% 0% / .5);
    backdrop-filter: blur(var(--size-s));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    transition: var(--transition-starting);
    @starting-style {
        background-color: transparent;
        backdrop-filter: blur(0);
        .modal {
            transform: translateY(100%);
        }
    }

    .modal {
        width: 100%;
        max-width: 50rem;
        background-color: var(--color-bg);
        position: relative;
        padding: var(--size-padding-large);
        border-top-right-radius: var(--border-radius-default);
        border-top-left-radius: var(--border-radius-default);
        transition: var(--transition-starting);

        .closeLink {
            font: inherit;
            color: inherit;
            font-size: vaR(--size-xl);
            position: absolute;
            top: var(--size-padding-large);
            right: var(--size-padding-large);
        }
    }
}