@use "../../../globals" as *;

.imageButton {
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  .imageContainer {
    background-position: center center;
    background-size: 100%;
    border-radius: $border-radius-full;
    aspect-ratio: 1;
    z-index: 2;
    @extend .transition-default;
  }

  .hoverContainer {
    @extend .imageContainer;
    @extend .transition-default;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: center center;
    filter: brightness(200%) blur($size-l);
    opacity: 0;
    z-index: 0;
  }

  @media (hover: hover) {

    &:hover {
      .imageContainer {
        background-size: 110%;
      }
      .hoverContainer {
        opacity: unset;
      }
    }
  }

  label {
    padding: $size-m;
    color: $color-typo;
    z-index: 2;
  }
}