@import "../../../globals";

button.imageButton {
    aspect-ratio: 1;
    border: none;
    border-radius: $border-radius-default !important;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;

    @media (pointer: fine) {
        &:hover {
                filter: brightness(125%) saturate(125%);
        }
    }

    > label {
        position: absolute;
        bottom: size(1);
        left:  size(1);
        right: size(1);
        border-radius: $border-radius-full;
        background-color: hsla(0, 0%, 0%, .5);
        backdrop-filter:  blur(size(1));
        display: block;
        padding: size(.5);
    }
}
