@use "../../../globals" as *;

button.imageButton {
  border-radius: size(1.75);
  cursor: pointer;
  * {
    cursor: pointer;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: size(1);
  }

  @media (pointer: fine) {
    &:hover img {
      filter: brightness(110%) saturate(110%);
    }
  }
}
