html.root {
    padding: 0;
    margin: 0;

    font-size: var(--size-m);
    line-height: 1;
    color: var(--color-contrast-0);

    * {

        font-family: Inter, serif;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        background-color: var(--color-elevation-bg);

        > div {
            display: flex;
            flex-direction: row;
            height: 100svh;

            main {
                flex-grow: 1;
                overflow-y: auto;

                div.content {
                    max-width: 50rem;
                    margin: 0 auto;
                    min-height: 100%;
                    padding: var(--size-padding-large);
                }
            }
        }
    }



    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    h1 {
        font-size: var(--size-xl);
        font-weight: 600;
    }

    h2 {
        font-size: var(--size-l);
        font-weight: 600;
    }

    h3 {
        font-size: var(--size-m);
        font-weight: 600;
    }


}


@font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: block;
    src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: 'Material Symbols';
    font-style: normal;
    font-display: block;
    src: url('/fonts/MaterialSymbols/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf');
}
