@use "../globals" as *;

html.root, html.root > body {
  padding: 0;
  margin: 0;
  //width: 100%;
  //height: 100vh;

  background-color: color-elevation(0);
  color: $color-typo;

  font-size: $size-m;
  line-height: 1;
  //box-sizing: border-box;

  h1 {
    font-size: $size-xl;
  }

  h2 {
    font-size: $size-l;
  }

  h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
  }

  * {
    font-family: "Comfortaa";
    font-size: $size-m;
    line-height: 1;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  main {
    padding: $size-xl;
  }
}


@font-face {
  font-family: "Comfortaa";
  src: url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Material Symbols';
  font-style: normal;
  font-display: block;
  src: url('/fonts/MaterialSymbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf') format('ttf'),
  url("/fonts/MaterialSymbols/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2") format("woff");
}
