div.scenesGrid {

    @container  (min-inline-size: 40rem) {
        > *:nth-child(1) {
            grid-column-end: span 2;
            grid-row-end: span 2;
        }
    }

    /*@container  (min-inline-size: 60rem) {*/
    /*}*/
}

.lightButton {
    --lightness-active: 75%;

    @media (prefers-color-scheme: light) {
        --lightness-active: 25%;
    }

    --light-color: hotpink;
    --color-active: hsl(from var(--light-color) h s var(--lightness-active));
}