.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: var(--size-padding-large);

    @media screen and  (min-width: 75rem ) {
        grid-template-columns: 1fr 25rem;
    }
}

/*.scenesGrid {*/
/*    @container (min-inline-size: 75rem) {*/
/*        > :first-child {*/
/*            grid-column-end: span 2;*/
/*            grid-row-end: span 2;*/
/*        }*/

/*        > :nth-child(2), > :nth-child(3) {*/
/*            grid-column-end: span 2;*/
/*            aspect-ratio: unset;*/
/*        }*/


/*    }*/
/*}*/


.deviceList {
    gap: var(--size-xxs);
    border: var(--size-xxs) solid var(--color-border);
    background-color: var(--color-border);
    border-radius: var(--border-radius-default);
    box-shadow: var(--shadow-default);
    overflow: hidden;

    * {
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

}