div.scenesGrid {
    @media screen and (min-width: 40rem) {
        > *:nth-child(1) {
            aspect-ratio: unset;
            grid-column-end: span 2;
        }
    }


    @media screen and (min-width: 80rem) {
        > *:nth-child(2) {
            grid-column-end: span 2;
            aspect-ratio: unset;

        }
    }

}

.lightButton {
    --lightness-active: 75%;

    @media (prefers-color-scheme: light) {
        --lightness-active: 25%;
    }

    --light-color: hotpink;
    --color-active: hsl(from var(--light-color) h s var(--lightness-active));
    /*--light-color:*/
    /*background-color: var(--color-interactive);*/
}