
.deviceLinkButton {
    background-color: var(--color-elevation-surface);
    border-radius: var(--border-radius-default);
    padding: var(--size-padding-default);
    box-shadow: none;
    border: none;

    font-size: var(--size-m);
    line-height: 1;
    color: var(--color-contrast-0);
    text-decoration: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: var(--size-xs);
    --activeColor: var(--color-contrast-1);

    transition: var(--transition-default);
    @media (hover: hover) {
        &:hover {
            background-color: var(--color-elevation-hover);
        }
    }


    .text {
        * {
            display: block;
            text-align: left;
        }

        *:not(:last-child) {
            margin-bottom: var(--size-s);
        }
    }

    .iconContainer {
        height: var(--size-xxl);
        aspect-ratio: 1;
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));
        background-color: var(--color-elevation-bg);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: var(--size-xl);
        }
    }

    &.isActive {
        /*background-color: var(--color-contrast-1);*/
        /*color: var(--color-elevation-surface);*/

        .text {
            color: var(--color-contrast-1)
        }

        .iconContainer {
            border-color: var(--color-elevation-surface);
            background-color: var(--activeColor);

            .icon {
                color: hsl(from var(--color-elevation-surface) h s 0% / 1);
            }
        }

    }

}