
.deviceLinkButton {
    background-color: var(--color-elevation-surface);
    border: var(--border-default);
    border-radius: var(--border-radius-default);
    box-shadow: var(--shadow-default);
    padding: var(--size-padding-default);

    font-size: var(--size-m);
    line-height: 1;
    color: var(--color-contrast-1);
    text-decoration: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: var(--size-xs);

    .text {
        * {
            display: block;
            text-align: left;
        }
        *:not(:last-child) {
            margin-bottom: var(--size-s);
        }
    }

    .iconContainer {
        height: var(--size-xxl);
        aspect-ratio: 1;
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));
        border: var(--border-default);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icon {
            font-size: var(--size-xl);
        }
    }

    &.isActive {
      .iconContainer {
        background-color: var(--color-contrast-1);
      }

      .icon {
        color: var(--color-elevation-surface)
      }

    }
}