button.button {
    border: none;
    border-radius: var(--border-radius-full);
    padding: var(--size-m) var(--size-xl);
    background-color: var(--color-elevation-interactive);
    background-image: var(--gradient-interactive);
    cursor: pointer;

    color: var(--color-text-base);
    font: inherit;
    font-size: var(--size-m);
    line-height: var(--size-m);
    font-weight: normal;

    @media (pointer: fine) {
        &:hover {
            background-color: var(--color-elevation-highlight);
            color: var(--color-text-highlight);

            transform: var(--transform-hover);
            box-shadow: var(--shadow-hover);
        }
    }
}