button.button {
    border: none;
    border-radius: var(--border-radius-default);
    padding: var(--size-m) var(--size-l);
    background-color: var(--color-elevation-interactive);
    cursor: pointer;
    color: var(--color-text-base);
    font: inherit;

    @media (pointer: fine) {
        &:hover {
            background-color: var(--color-elevation-highlight);
            color: var(--color-text-highlight);

            transform: var(--transform-hover);
            box-shadow: var(--shadow-hover);
        }
    }
}