.sceneButton {
    appearance: none;
    border-radius: var(--border-radius-default);
    background-color: var(--color-elevation-surface);
    border: var(--border-default);
    box-shadow: var(--shadow-default);

    margin: 0;
    padding: var(--size-padding-default);


    cursor: pointer;

    position: relative;
    overflow: hidden;

    .backdrop {
        z-index: -1;
        transition: vaR(--transition-default);

        &, > * {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .gradient {
            background-image: var(--gradient-hightlight);
        }

        img {
            width: 100%;
            height: 100%;
            filter: blur(vaR(--size-m)) brightness(.50);
        }


    }

    img {
        width: 100%;
        height: auto;
        border: var(--border-default);
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));
    }

    strong {
        font-size: var(--size-m);
    }

    @media (hover: hover) {
        &:hover {
            .backdrop {
                filter: var(--filter-hover)
            }
        }
    }
}

.scenesLayout {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(calc(12 * var(--size-m)), 1fr));
    grid-gap: var(--size-padding-default);
}