.scenesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
    grid-auto-flow: row;
    grid-gap: vaR(--size-padding-default);
}

@media screen and (max-width: 75rem) {
    .scenesContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

.sceneButton {

    appearance: none;
    padding: var(--size-padding-default);
    border-radius: var(--border-radius-default);
    background-color: var(--color-elevation-surface);
    background-image: var(--gradient-fade) !important;

    border: var(--border-default);
    box-shadow: var(--shadow-default);

    margin: 0;
    cursor: pointer;

    img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));
    }

    span {
        display: block;
        color: var(--color-contrast-1);
        font-size: vaR(--size-m);
        line-height: 1;
        margin-top: var(--size-s);
    }

    transition: vaR(--transition-default);
    @media (hover: hover) {
        &:hover {
            filteR: var(--filter-hover);
        }
    }
}