.sceneButton {
    appearance: none;
    border-radius: var(--border-radius-default);
    background-color: var(--color-elevation-surface);
    border: none;

    margin: 0;
    padding: var(--size-padding-default);

    cursor: pointer;
    transition: var(--transition-default);



    img {
        width: 100%;
        height: auto;
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));
    }

    strong {
        font-size: var(--size-m);
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-elevation-hover);
        }
    }
}

.scenesLayout {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(calc(12 * var(--size-m)), 1fr));
    grid-gap: var(--size-padding-default);
}