.sceneButton {
    appearance: none;
    border-radius: var(--border-radius-default);
    background-color: var(--color-elevation-surface);
    border: var(--border-default);
    box-shadow: var(--shadow-default);

    margin: 0;
    padding: var(--size-padding-default);


    cursor: pointer;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-s);
    overflow: hidden;

    * {
        z-index: 1;
    }

    strong {
        display: block;

        color: var(--color-contrast-1);
        font-size: var(--size-m);
    }

    img {
        height: calc(2 * var(--size-xxl));
        aspect-ratio: 1;
        border-radius: calc(var(--border-radius-default) - var(--size-padding-default));

        &.backgroundImage {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 0;
            z-index: 0;
            filter: brightness(.5) blur(var(--size-xl));
        }
    }

    .gradient {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: vaR(--gradient-hightlight);
    }

    transition: vaR(--transition-default);
    @media (hover: hover) {
        &:hover {
            filteR: var(--filter-hover);
        }
    }
}