.sceneButton {
    appearance: none;
    border-radius: var(--border-radius-default);
    background-color: var(--color-elevation-surface);
    border: var(--border-default);
    box-shadow: var(--shadow-default);

    margin: 0;
    padding: 0;

    cursor: pointer;
    position: relative;
    aspect-ratio: 1;
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    span {
        position: absolute;
        display: block;

        bottom: 0;
        left: 0;
        right: 0;
        background-color: transparent;
        background-image: linear-gradient(to top, hsla(0, 0%, 0%, 0.5) var(--size-xl), hsla(0, 0%, 0%, 0));

        color: var(--color-contrast-1);
        font-size: vaR(--size-m);
        line-height: 1;
        padding: var(--size-xxl) 0 var(--size-s) 0;
    }

    transition: vaR(--transition-default);
    @media (hover: hover) {
        &:hover {
            filteR: var(--filter-hover);
        }
    }
}