@import "../../../globals";

button.button {
    @extend .elevated;
    border: none;
    border-radius: $border-radius-full;
    padding: size(.75) size(2);
    cursor: pointer;

    color: inherit;
    font: inherit;
    font-size: size(1);
    line-height: size(1);
    font-weight: normal;

    @media (pointer: fine) {
        &:hover {
            box-shadow: $shadow-hover
        }
    }
}