html.root {
    --animation-duration: .2s;
}

/* =========================== */

@keyframes frames-slide-full {
    from {
        transform: translateY(100%);
    }
}

.animationSlideFull {
    animation: var(--animation-duration) ease-out both frames-slide-full;
}

/* =========================== */

@keyframes frames-pop-fade {
    from {
        opacity: 0;
        /*transform: scale(.9);*/
        filter: blur(var(--size-m));
    }
}

.animationPopFade > * {
    animation: var(--animation-duration) ease-out both frames-pop-fade;
}

/* =========================== */

.animationStaggered {
    --animation-delay-step: .5;

    > *:nth-child(1) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 0);
    }

    > *:nth-child(2) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 1);
    }

    > *:nth-child(3) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 2);
    }

    > *:nth-child(4) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 3);
    }

    > *:nth-child(5) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 4);
    }

    > *:nth-child(6) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 5);
    }

    > *:nth-child(7) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 6);
    }

    > *:nth-child(8) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 7);
    }

    > *:nth-child(9) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 8);
    }

    > *:nth-child(10) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 9);
    }

    > *:nth-child(11) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 10);
    }

    > *:nth-child(12) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 11);
    }

    > *:nth-child(13) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 12);
    }

    > *:nth-child(14) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 13);
    }

    > *:nth-child(15) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 14);
    }

    > *:nth-child(16) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 15);
    }

    > *:nth-child(17) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 16);
    }

    > *:nth-child(18) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 17);
    }

    > *:nth-child(19) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 18);
    }

    > *:nth-child(20) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 19);
    }

    > *:nth-child(21) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 20);
    }

    > *:nth-child(22) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 21);
    }

    > *:nth-child(23) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 22);
    }

    > *:nth-child(24) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 23);
    }

    > *:nth-child(25) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 24);
    }

    > *:nth-child(26) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 25);
    }

    > *:nth-child(27) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 26);
    }

    > *:nth-child(28) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 27);
    }

    > *:nth-child(29) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 28);
    }

    > *:nth-child(30) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 29);
    }

    > *:nth-child(31) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 30);
    }

    > *:nth-child(32) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 31);
    }

    > *:nth-child(33) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 32);
    }

    > *:nth-child(34) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 33);
    }

    > *:nth-child(35) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 34);
    }

    > *:nth-child(36) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 35);
    }

    > *:nth-child(37) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 36);
    }

    > *:nth-child(38) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 37);
    }

    > *:nth-child(39) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 38);
    }

    > *:nth-child(40) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 39);
    }

    > *:nth-child(41) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 40);
    }

    > *:nth-child(42) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 41);
    }

    > *:nth-child(43) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 42);
    }

    > *:nth-child(44) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 43);
    }

    > *:nth-child(45) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 44);
    }

    > *:nth-child(46) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 45);
    }

    > *:nth-child(47) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 46);
    }

    > *:nth-child(48) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 47);
    }

    > *:nth-child(49) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 48);
    }

    > *:nth-child(50) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 49);
    }

    > *:nth-child(51) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 50);
    }

    > *:nth-child(52) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 51);
    }

    > *:nth-child(53) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 52);
    }

    > *:nth-child(54) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 53);
    }

    > *:nth-child(55) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 54);
    }

    > *:nth-child(56) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 55);
    }

    > *:nth-child(57) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 56);
    }

    > *:nth-child(58) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 57);
    }

    > *:nth-child(59) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 58);
    }

    > *:nth-child(60) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 59);
    }

    > *:nth-child(61) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 60);
    }

    > *:nth-child(62) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 61);
    }

    > *:nth-child(63) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 62);
    }

    > *:nth-child(64) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 63);
    }

    > *:nth-child(65) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 64);
    }

    > *:nth-child(66) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 65);
    }

    > *:nth-child(67) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 66);
    }

    > *:nth-child(68) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 67);
    }

    > *:nth-child(69) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 68);
    }

    > *:nth-child(70) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 69);
    }

    > *:nth-child(71) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 70);
    }

    > *:nth-child(72) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 71);
    }

    > *:nth-child(73) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 72);
    }

    > *:nth-child(74) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 73);
    }

    > *:nth-child(75) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 74);
    }

    > *:nth-child(76) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 75);
    }

    > *:nth-child(77) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 76);
    }

    > *:nth-child(78) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 77);
    }

    > *:nth-child(79) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 78);
    }

    > *:nth-child(80) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 79);
    }

    > *:nth-child(81) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 80);
    }

    > *:nth-child(82) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 81);
    }

    > *:nth-child(83) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 82);
    }

    > *:nth-child(84) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 83);
    }

    > *:nth-child(85) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 84);
    }

    > *:nth-child(86) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 85);
    }

    > *:nth-child(87) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 86);
    }

    > *:nth-child(88) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 87);
    }

    > *:nth-child(89) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 88);
    }

    > *:nth-child(90) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 89);
    }

    > *:nth-child(91) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 90);
    }

    > *:nth-child(92) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 91);
    }

    > *:nth-child(93) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 92);
    }

    > *:nth-child(94) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 93);
    }

    > *:nth-child(95) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 94);
    }

    > *:nth-child(96) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 95);
    }

    > *:nth-child(97) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 96);
    }

    > *:nth-child(98) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 97);
    }

    > *:nth-child(99) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 98);
    }

    > *:nth-child(100) {
        animation-delay: calc(var(--animation-duration) * var(--animation-delay-step) * 99);
    }
}