$hue-base: 200;
$saturation-base: 0%;
$lightness-bg: 15%;
$lightness-step: 7.5%;

$color-background: hsl($hue-base, $saturation-base, $lightness-bg);
$color-elevated-full: hsl($hue-base, $saturation-base, $lightness-bg +  $lightness-step);
$color-elevated-half:hsl($hue-base, $saturation-base, $lightness-bg + (.5 * $lightness-step));
$color-dropped-full: hsl($hue-base, $saturation-base, $lightness-bg -  $lightness-step);
$color-dropped-half:hsl($hue-base, $saturation-base, $lightness-bg - (.5 * $lightness-step));

$color-elevated-typo-1: hsl(250, 0%, 80%);

$size-unit: 1rem;
@function size($n) {
  @return $n * $size-unit;
}
$border-radius-default: size(1);
$border-radius-full: 110vmax;
$breakpoint-m: size(50);



.elevated {
  background-color: $color-background;
  box-shadow: size(.25) size(.25) size(.5) $color-dropped-full,
  size(-.25) size(-.25) size(.5) $color-elevated-full;
}

.dropped {
  background-color: $color-background;
  box-shadow: size(.25) size(.25) size(.5) $color-dropped-full inset,
  size(-.25) size(-.25) size(.5) $color-elevated-full inset;
}

.interactive {
  background-image: linear-gradient(to top, $color-elevated-half, $color-elevated-full);
  box-shadow: 0 0 size(.5) $color-dropped-full;
}

