html.root {
    --size-xxs: .125rem;
    --size-xs: .25rem;
    --size-s: .5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 2rem;
    --size-xxl: 3rem;

    --lightness: 100%;
    --color-elevation-bg: hsl(240 0% 7.5);
    --color-elevation-surface: hsl(0 0% var(--lightness) / .05);
    --color-elevation-border: hsl(0 0% var(--lightness)/ 0.2);

    --color-contrast-0: hsl(0 0% var(--lightness) / 0.75);
    --color-contrast-1: hsl(0 0% var(--lightness) / 0.9);

    --gradient-hightlight: linear-gradient(to top, transparent, var(--color-elevation-surface));

    --size-padding-default: var(--size-m);

    --size-border-default: var(--size-xxs);
    --border-default: var(--size-xxs) solid var(--color-elevation-border);
    --border-radius-default: var(--size-xl);

    --shadow-default: none;
    /*--shadow-default: 0 0 var(--size-m) hsla(0, 0%, 0%, 50%);*/
    /*--shadow-default: 0 0 var(--size-s) var(--color-elevation-border) inset;*/

    --filter-hover: brightness(125%);

    --duration-default: 0.25s;
    --transition-default: all ease-out var(--duration-default);

}

