html.root {
    --size-xxs: .125rem;
    --size-xs: .25rem;
    --size-s: .5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 2rem;
    --size-xxl: 3rem;

    --color-elevation-bg: light-dark(#fff, #1d1d20);
    --color-elevation-surface: light-dark(#ebebed, #2e2e32);
    --color-elevation-hover: light-dark(#dedee0, #3d3d40);
    --color-elevation-active: light-dark(hsl(240, 3%, 20%), hsl(240, 3%, 80%));

    --color-contrast-0: light-dark(hsl(0 0% 50%),hsl(0 0% 50%));
    --color-contrast-1: light-dark(hsl(0 0% 20%),hsl(0 0% 80%));

    --size-padding-default: var(--size-m);
    --size-padding-large: var(--size-xxl);
    --border-radius-default: var(--size-l);
    --border-radius-hover: var(--size-m);

    --duration-default: .25s;

    --transition-default: all ease-out var(--duration-default), transform  linear(0, 1.5, 1) var(--duration-default);

    --transform-hover: scale(1.025);
    --box-shadow-hover: 0 0 var(--size-m)  hsl(0 0 0 / .75);
    --z-index-hover: 2;
}

