html.root {
    --size-xxs: .125rem;
    --size-xs: .25rem;
    --size-s: .5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 2rem;
    --size-xxl: 3rem;

    --color-elevation-bg: hsl(240, 6%, 10%);
    --color-elevation-surface: hsl(240, 6%, 20%);
    --color-elevation-border: hsl(240, 6%, 30%);
    --color-contrast-0: hsl(0, 0%, 60%);
    --color-contrast-1: hsl(0, 0%, 800%);

    --gradient-hightlight: linear-gradient(to bottom, transparent, hsl(0 0 0% / 0.2));

    --size-padding-default: var(--size-m);

    --size-border-default: var(--size-xxs);
    --border-default: var(--size-xxs) solid var(--color-elevation-border);
    --border-radius-default: var(--size-xl);

    --shadow-default: 0 0 var(--size-m) hsla(0, 0%, 0%, 50%);
    /*--shadow-default: 0 0 var(--size-s) var(--color-elevation-border) inset;*/

    --filter-hover: brightness(125%);

    --duration-default: 0.25s;
    --transition-default: all ease-out var(--duration-default);

}

