$hue-base: 300;
$saturation-base: 0%;
$lightness-base: 10%;
$lightness-step: 10%;

@function color-elevation($n) {
  @return hsl($hue-base, $saturation-base, $lightness-base + ($lightness-step * $n));
}

$color-typo: hsl($hue-base, $saturation-base, 80%);

$size-unit: 1rem;
$size-xs: $size-unit * .25;
$size-s: $size-unit * .5;
$size-m: $size-unit * 1;
$size-l: $size-unit * 1.5;
$size-xl: $size-unit * 2.5;


$border-radius-default: $size-m;
$border-radius-full: 110vmax;
$breakpoint-m: 50 * $size-unit;

.elevated {
  background-color: color-elevation(1);
  color: $color-typo;
}

.transition-default {
  transition: all 250ms ease-out;

}

.interactive {
  @extend .elevated;
  @extend .transition-default;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      //background-color: color-elevation(2);
      box-shadow: 0 0 $size-l color-elevation(5);
    }
  }
}

