html.root {
    --size-xxs: .125rem;
    --size-xs: .25rem;
    --size-s: .5rem;
    --size-m: 1rem;
    --size-l: 1.5rem;
    --size-xl: 2rem;
    --size-xxl: 3rem;

    --color-elevation-bg: #1D1D20;
    --color-elevation-surface: #38383C;
    --color-elevation-half: #28282c;
    --color-elevation-hover: #49494d;

    --color-contrast-0: hsl(0 0% 50%);
    --color-contrast-1: hsl(0 0% 100%);

    --size-padding-default: var(--size-m);

    --border-radius-default: var(--size-xl);

    --filter-hover: brightness(125%);

    --duration-default: 0.125s;
    --transition-default: all ease-out var(--duration-default);

}

