$color-background: hsl(250, 0%, 12%);
$color-background-gradient: hsl(250, 0%, 6%);


$color-elevated-1: hsl(250, 0%, 18%);
$color-elevated-2: hsl(250, 0%, 24%);

$color-elevated-typo-1: hsl(250, 0%, 80%);

$size-unit: 1rem;
@function size($n) {
  @return $n * $size-unit;
}

$border-radius-default: size(1);
$border-radius-full: 110vmax;

$breakpoint-m: size(50);

$shadow-default: 0 0 size(.25) hsl(0, 0%, 0%);
$shadow-hover: 0 0 size(1) hsla(0, 0%, 0%, 75%);


.elevated {
  background-color: transparentize($color-elevated-1, 0.025);
  box-shadow: $shadow-default;
  //backdrop-filter: blur(size(1));
}

.elevated-2 {
  @extend .elevated;
  background-color: transparentize($color-elevated-2, 0.025);
}

