:root {
    --animation-duration-default: 250ms;
    --animation-duration-fast: 100ms;
    --animation-item-delay: 125ms;
    --animation-easing: ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-from-left {
    from {
        transform: translateX(var(--size-xl));
    }
    to {
        transform: initial;
    }
}
.animation-slide-in {
    animation: var(--animation-duration-default) ease-out both slide-from-left, var(--animation-duration-default) linear both fade-in;
}


.animation-sequential-delay {
    &:nth-child(1) {
        animation-delay: calc(0 * var(--animation-item-delay))
    }

    &:nth-child(2) {
        animation-delay: calc(1 * var(--animation-item-delay))
    }

    &:nth-child(3) {
        animation-delay: calc(2 * var(--animation-item-delay))
    }

    &:nth-child(4) {
        animation-delay: calc(3 * var(--animation-item-delay))
    }

    &:nth-child(5) {
        animation-delay: calc(4 * var(--animation-item-delay))
    }

    &:nth-child(6) {
        animation-delay: calc(5 * var(--animation-item-delay))
    }

    &:nth-child(7) {
        animation-delay: calc(6 * var(--animation-item-delay))
    }

    &:nth-child(8) {
        animation-delay: calc(7 * var(--animation-item-delay))
    }

    &:nth-child(9) {
        animation-delay: calc(8 * var(--animation-item-delay))
    }

    &:nth-child(10) {
        animation-delay: calc(9 * var(--animation-item-delay))
    }
}
