:root {
    --theme-hue-primary: 250;
    --theme-saturation-primary: 0%;

    --theme-hue-interactive: 222;
    --theme-saturation-interactive: 0%;

    --color-elevation-0: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), 10%);
    --color-elevation-1: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), 15%);
    --color-elevation-interactive: hsl(var(--theme-hue-interactive), var(--theme-saturation-interactive), 25%);
    --color-elevation-highlight: hsl(var(--theme-hue-interactive), var(--theme-saturation-interactive), 30%);

    --color-text-base: hsl(0, 0%, 75%);
    --color-text-highlight: hsl(0, 0%, 90%);

    --size-unit: .9rem;
    --size-xs: calc(0.25 * var(--size-unit));
    --size-s: calc(0.5 * var(--size-unit));
    --size-m: calc(1 * var(--size-unit));
    --size-l: calc(1.5 * var(--size-unit));
    --size-xl: calc(2 * var(--size-unit));
    --size-xxl: calc(3 * var(--size-unit));

    --size-breakpoint: 50rem;

    --border-radius-default: var(--size-m);

    --shadow-hover: 0 0 var(--size-m) hsla(0, 0%, 0%, 50%);
    --transform-hover: scale(105%);
}

@media (prefers-color-scheme: light) {
    :root {
        --theme-saturation-primary: 25%;
        --theme-saturation-interactive: 25%;

        --color-elevation-0: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), 90%);
        --color-elevation-1: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), 85%);

        --color-elevation-interactive: hsl(var(--theme-hue-interactive), var(--theme-saturation-interactive), 80%);
        --color-elevation-highlight: hsl(var(--theme-hue-interactive), var(--theme-saturation-interactive), 70%);

        --color-text-base: hsl(0, 0%, 20%);
        --color-text-highlight: hsl(0, 0%, 15%);

        --shadow-hover: 0 0 var(--size-m) hsla(0, 0%, 0%, 25%);
    }
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-elevation-0);
    font-size: var(--size-m);
    line-height: var(--size-m);
    color: var(--color-text-base);
    box-sizing: border-box;
}

* {
    transition: all var(--animation-duration-fast) linear;
    font-family: "Open Sans";
    font-size: var(--size-m);
    line-height: var(--size-m);
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    color: var(--color-text-highlight);
    font-family: Comfortaa;
}

p {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

h1 {
    font-size: var(--size-xxl);
    line-height: var(--size-xxl);
    font-weight: bold;
}

h2 {
    font-size: var(--size-xl);
    line-height: var(--size-xl);
    font-weight: bold;
}

h3 {
    font-size: var(--size-l);
    line-height: var(--size-l);
    font-weight: bold;
}

@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
