:root {
    --theme-hue-primary: 180;
    --theme-saturation-primary: 0%;

    --theme-hue-interactive: 180;
    --theme-saturation-interactive: 0%;

    --color-elevation-0: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), 7%);
    --color-elevation-1: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), 14%);

    --color-elevation-interactive: hsl(var(--theme-hue-interactive), var(--theme-saturation-interactive), 21%);
    --color-elevation-highlight: hsl(var(--theme-hue-interactive), var(--theme-saturation-interactive), 24.5%);

    --color-text-base: hsl(0, 0%, 77%);
    --color-text-highlight: hsl(0, 0%, 91%);

    --size-unit: 1rem;
    --size-xxs: 1px;
    --size-xs: calc(0.25 * var(--size-unit));
    --size-s: calc(0.5 * var(--size-unit));
    --size-m: calc(1 * var(--size-unit));
    --size-l: calc(1.25 * var(--size-unit));
    --size-xl: calc(1.5 * var(--size-unit));

    --size-breakpoint: calc(50 * var(--size-unit));
    --size-grid-space-default: var(--size-s);
    --size-grid-space-big: var(--size-l);

    --border-radius-default: var(--size-m);
    --border-radius-big: var(--size-l);
    --border-radius-full: 100vmax;

    --shadow-default: none;
    --shadow-interactive: 0 0 var(--size-s) hsla(0, 0%, 0%, 25%);

    --transform-hover: scale(105%);
}

@media (prefers-color-scheme: light) {
    :root {
        /*--theme-saturation-primary: 50%;*/
        --theme-saturation-interactive: 25%;

        --color-elevation-0: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), 93%);
        --color-elevation-1: hsl(var(--theme-hue-primary), var(--theme-saturation-primary), 100%);

        --color-elevation-interactive: hsl(var(--theme-hue-interactive), var(--theme-saturation-interactive), 86%);
        --color-elevation-highlight: hsl(var(--theme-hue-interactive), var(--theme-saturation-interactive), 82.5%);

        --color-text-base: hsl(0, 0%, 21%);
        --color-text-highlight: hsl(0, 0%, 14%);
    }
}

* {
    transition: all var(--animation-duration-fast) linear;
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    color: var(--color-text-highlight);
    font-family: Comfortaa;
}

p {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

h1 {
    font-size: var(--size-xl);
    line-height: var(--size-xl);
    font-weight: bold;
}

h2 {
    font-size: var(--size-l);
    line-height: var(--size-l);
    font-weight: bold;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--color-elevation-0);
    font-size: var(--size-m);
    line-height: var(--size-m);
    color: var(--color-text-base);
}

input[type="range"] {
    flex-grow: 1;
    -webkit-appearance: none;
    background-color: transparent;
    margin: 0;

    &::-webkit-slider-thumb {
        background-color: var(--color-elevation-interactive);
        -webkit-appearance: none;
        margin-top: calc(-.5 * (var(--size-xl) - var(--size-s)));
        height: var(--size-xl);
        aspect-ratio: 1;
        border-radius: var(--border-radius-full);
        cursor: pointer;
    }

    &::-webkit-slider-thumb:hover {
        background-color: var(--color-elevation-highlight);
        box-shadow: var(--shadow-interactive);
    }


    &::-webkit-slider-runnable-track {
        height: var(--size-s);
        background-color: var(--color-elevation-0);
        -webkit-appearance: none;
        border-radius: var(--border-radius-full);
    }
}

@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}