@import "../../globals";

div.wrapper {
  padding: size(.5) 0;

  input.slider {
    appearance: none;
    background: none;
    width: 100%;

    $track-height: size(1);
    $thumb-height: size(2);
    $thumb-aspect-ratio: 1;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      height: $thumb-height;
      aspect-ratio: $thumb-aspect-ratio;
      margin-top: -0.5 * ($thumb-height - $track-height);
      border-radius: $border-radius-full;
      background-color: elevation(3);
      box-shadow: $shadow-default;
    }

    &::-webkit-slider-runnable-track {
      height: $track-height;
      border-radius: $border-radius-full;
      background-color: elevation(0);
      box-shadow: $shadow-default inset;
    }
  }
}
