@import "../../globals";

div.wrapper {
  padding: size(.5) 0;

  input.slider {
    appearance: none;
    background: none;
    width: 100%;

    $thumb-height: size(2.5);
    $thumb-aspect-ratio: 1;
    cursor: pointer;

    &::-webkit-slider-thumb {
      appearance: none;
      height: $thumb-height;
      aspect-ratio: $thumb-aspect-ratio;
      border-radius: $border-radius-full;
      @extend .interactive;
    }

    &::-webkit-slider-runnable-track {
      height: $thumb-height;
      border-radius: $border-radius-full;
      @extend .dropped;
    }
  }
}
