.layout {
    padding: var(--size-l);
    box-sizing: border-box;
    width: 100%;

    .content {
        width: 100%;
        max-width: var(--size-breakpoint);
        margin: 0 auto;

        .linkContainer {
            margin-bottom: var(--size-xxl);
        }
    }
}

